@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --purple: #994899;
    --lightpurple: #f3ebf3;
    --white: #ffffff;
    --black: #000000;
    --darkgrey: #424242;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
