@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primarycolor: #56483b;
    --secondarycolor: #4a100c;
    --tertiarycolor: #ad9e89;
    --white: #ffffff;
    --black: #1a1a1c;
    --darkgrey: #424242;
    --lightprimary: #c9c2b8;
    --orange: #eebf2f;
    --terracota: #834230;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
