@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --green: #115E59;
    --orange: #F59E0B;
    --lightorange: #ffe7bf;
    --white: #ffffff;
    --black: #000000;
    --darkgrey: #424242;
    --lightgreen: #d3ecea;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
